body{
	margin: 0px;
}

.sum-container {
	width: 30%;
	height:auto;
	overflow: hidden;
	background-color: #FFFFFF;
	float:left;
	background-image: url(https://images.unsplash.com/photo-1425315283416-2acc50323ee6?q=80&fm=jpg&s=94c3e17a79354c33dbd59ced862b1460);

}

.nav-container {
	width: auto;
	height: 60px;
	background-color: #2222AA;
	overflow: auto;
	padding: 0 30px;
}

.title {
  margin: 0;
  line-height: 60px;
  float: left;
  color: white;
  font-family: helvetica;
  font-size: 20px;
}

.nav-list{
	float:right;
	color: yellow;
	font-family: helvetica;
	line-height: 60px;
	margin-top:0px;

}
.nav-item {
	display:inline-block;
	font-size:11px;
}

main {
	float: left;
  	width: 65%;
  	padding: 30px;
}

.headline {
  margin: 0 0 2rem;
  background-color: #CD0000;
  padding: 15px;
}

.image-block {
	background-color: purple;
	background-image: url(https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?q=80&fm=jpg&s=29b3d57347ca107a06e5cfe262f24ef1);
	background-position: center;
	background-size: 1000px auto;
	background-position: 0px -500px;
	background-repeat: no-repeat;
	width:1000px;
	height:400px;
	overflow: hidden;
}

.image-block2 {
	background-color: purple;
	background-image: url(https://images.unsplash.com/photo-1425315283416-2acc50323ee6?q=80&fm=jpg&s=94c3e17a79354c33dbd59ced862b1460);
	background-position: center;
	background-size: 1000px auto;
	background-position: 0px -150px;
	background-repeat: no-repeat;
	width:1000px;
	height:300px;
	overflow: hidden;
}

